{% extends "bootstrap_base.jinja" %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.datatables').DataTable({
              iDisplayLength : 25
            });
        });
    </script>
{% endblock scripts %}

{% block content %}
    <table class="datatables">
      <thead>
        <th>Date</th>
        <th>Customer</th>
        <th>Line Items</th>
      </thead>
      <tbody>
        {% for sale in sales %}
          <tr>
            <td>{{sale.order_date.strftime("%Y-%m-%d")}}</td>
            <td>{{sale.customer.name}}</td>
            <td>{{sale.lineitem_set.count()}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <div class="pagination">
      <span class="step-links">
        {% if sales.has_previous %}
            <a href="?page={{ sales.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ sales.number }} of {{ sales.paginator.num_pages }}.
        </span>

        {% if sales.has_next %}
            <a href="?page={{ sales.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
    
{% endblock content %}
